html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Стили для Body */
body {
  margin: 0px;
  padding: 0px;
}
/* Стили для шапки */
.head {
  border-bottom: 1px rgb(217, 255, 245) solid;
}
.head__imgs {
  display: flex;
  margin: 18.59px 16px;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
  width: 304px;
}

.head__img_burger {
}
.head__img_group {
  width: 96.55px;
  height: 50.81px;
}
.head__img_divider-2 {
}
.head__img_repair {
}
.head__img_checkstatus {
}
.head__img_call {
  display: none;
}
.head__img_chat {
  display: none;
}
.head__img_profile {
  display: none;
}
.head__img_divider-1 {
  display: none;
}

/* Стили для блока main */
main {
  background: rgb(248, 248, 248);
}

/* Стили для первой секции Услуги и сервис + скролл меню */

.title__heading {
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  margin: 24px 15px 24px 13px;
}
.title__heading-img {
  display: flex;
  align-items: center;
}
.title__img {
  width: 4px;
  height: 40px;
}

.title__button {
  height: 40px;
  border: none;
  background: rgb(248, 248, 248);
  color: rgb(126, 126, 130);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 10px;
}
.title__button:focus {
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid rgb(184, 255, 236);
}

.title__scroll-menu {
  display: flex;
  overflow-x: scroll;
  background: rgb(248, 248, 248);
  margin-left: 17px;
}

/* Стили для параграфа и изображения */

.paragraph__block {
  margin: 24px 16px 24px 16px;
}
.paragraph__text {
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
  margin: 0px;
  width: 288px;
  height: 90px;
}
.paragraph__text-part2 {
  display: none;
}
.paragraph-button {
  margin: 16px 0px 0px 0px;
  display: flex;
  height: 24px;
}
.paragraph-button__konvert {
  height: 24px;
  display: flex;
}

.paragraph-button__img-text {
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  margin: 0px;
  margin-left: 8px;
}

/* Стили для заглавного изображения  */
.bottom-img__img {
  display: block;
  width: 320px;
  height: 176px;
}
.bottom-img__img1 {
  display: none;
}
.title__text1 {
  display: none;
}
.title__img-PC1 {
  display: none;
}
.title__text2 {
  display: none;
}
.title__img-PC2 {
  display: none;
}
.bottom-img__img2 {
  display: none;
}
.paragraph__text-for-pc1 {
  display: none;
}
.paragraph__text-for-pc2 {
  display: none;
}
/* Медиа стили для устройств с width >= 768  */
@media (width >= 768px) {
  /* стили для шапки */
  .head__imgs {
    width: 736px;
  }
  .head__img_call {
    display: initial;
    margin-left: 250px;
  }
  .head__img_chat {
    display: initial;
  }
  .head__img_profile {
    display: initial;
  }
  .head__img_divider-1 {
    display: initial;
  }
  /* Стили для параграфа и скрола  */
  .paragraph__text-part2 {
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    display: block;
    width: 312px;
  }
  .paragraph__block {
    margin: 0px;
  }
  .title__scroll-menu {
    margin-left: 24px;
  }
  /* стили для параграфа и заглавнгого изображения */
  .paragraph__text {
    width: 312px;
  }
  .bottom-img__img {
    display: none;
  }
  .bottom-img__img1 {
    display: block;
    margin-left: 48px;
    border-radius: 5px;
  }
  .paragraph {
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
  }
  .title__text1 {
    display: none;
  }
  .title__img-PC1 {
    display: none;
  }
  .title__text2 {
    display: none;
  }
  .title__img-PC2 {
    display: none;
  }
  .bottom-img__img2 {
    display: none;
  }
  .paragraph__text-for-pc1 {
    display: none;
  }
  .paragraph__text-for-pc2 {
    display: none;
  }
}

/* Медиа стили для устройств с width >= 1120px */
@media (width>=1120px) {
  body,
  main {
    background: rgb(248, 248, 248);
  }
   body {
    display: grid;
    place-items: center;
  }
  .head {
    display: none;
  }
  /* Стили заголовка */
  .title__img {
    margin-right: 16px;
  }
  .title__text1 {
    display: block;
    font-size: 18px;
    margin-right: 8px;
  }
  .title__img-PC1 {
    display: block;
    margin-right: 32px;
  }
  .title__text2 {
    display: block;
    font-size: 18px;
    margin-right: 8px;
  }
  .title__img-PC2 {
    display: block;
  }
  .title__heading-img {
    margin-top: 48px;
    margin-right: 32px;
  }
  .title__heading {
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    text-align: left;
    margin: 0px;

    margin-right: 400px;
  }
  /* Стил скролл меню */
  .title__scroll-menu {
    flex-wrap: wrap;
  }
  .title__button {
    color: rgb(126, 126, 130);
    font-family: TT Lakes;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    margin-right: 5px;
  }
  /* Стили параграфа и картинки */
  .bottom-img__img {
    display: none;
  }
  .bottom-img__img1 {
    display: none;
  }
  .paragraph__text {
    display: none;
  }
  .paragraph__text-part2 {
    display: none;
  }
  .bottom-img__img2 {
    display: block;
    width: 531.35px;
    height: 307px;
    border-radius: 5px;
  }

  .paragraph__block {
    margin-right: 32px;
    width: 490px;
  }
  .paragraph__text-for-pc1 {
    display: block;
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 0px;
  }
  .paragraph__text-for-pc2 {
    display: block;
    color: rgb(27, 28, 33);
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
  }
}
